<div class="jumbotron">
    <h1 class="title">18K Offer</h1>
    <p class="slogan">18K Offer 是一个提供18K薪水工作机会的求职网站。
    <br>
     在这里可以让你寻找职业与爱好之间的桥梁。
    <br>
     凭借自己的努力和天份也会变 Winner
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
</div>

<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fc7ddlr381j303k03kwe9.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>武汉国广</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fc7dga9k86j303k03kwea.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>52536@qq.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fc7dh26k0pj303k03kdfn.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>027-82912111</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
